---
/**
 * Authors: Eduardo Porto Morales
 * 
 * Description: This is the accounts payable view of the dashboard.
 **/

import TextHeader from "@components/TextHeader.astro";
import RequestSection from "@components/RequestSection.astro";

//FETCH DEMO DATA
import { duplicateJson } from "@utils/duplicateJson";
import getuserrequests from '@data/get-user-requests.json';

const requests = duplicateJson(getuserrequests, 4);

// ACA HAY QUE PONER DOS FETCH, UNO PARA SOLICITUDES POR COTIZAR Y OTRO PARA SOLICITUDES POR COMPROBAR

const { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />

    <div class="grid grid-cols-1 gap-8">
      <RequestSection
        title="SOLICITUDES POR COTIZAR"
        requests={requests}
        anchor="cotizaciones"
        urlBase="cotizar-solicitud"
        subtitle="Esta solicitud est치 esperando cotizaci칩n."
        emptyMessage="NO HAY SOLICITUDES POR COTIZAR"
      />

      <RequestSection
        title="SOLICITUDES POR COMPROBAR"
        requests={requests}
        anchor="comprobaciones"
        urlBase="comprobar-gastos"
        subtitle="Esta solicitud est치 esperando comprobaci칩n."
        emptyMessage="NO HAY SOLICITUDES POR COMPROBAR"
      />
    </div>
  </main>
</div>