---
/**
 * Authors: Eduardo Porto Morales
 * 
 * Description: This is the accounts payable view of the dashboard.
 **/

import TextHeader from "@components/TextHeader.astro";

//FETCH DEMO DATA
import { duplicateJson } from "@utils/duplicateJson";
import getuserrequests from '@data/get-user-requests.json';

const requests = duplicateJson(getuserrequests, 4);


const { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />
  </main>
</div>
