---
/**
 * Authors: Gabriel Muñoz, José González
 * 
 * Description: This is the authorizer view of the dashboard.
 **/

import TextHeader from "@components/TextHeader.astro";
import RequestSection from "@components/RequestSection.astro";

//FETCH DEMO DATA
import { duplicateJson } from "@utils/duplicateJson";
import getuserrequests from '@data/get-user-requests.json';
import { apiRequest } from "@/utils/apiClient";
import { getCookie } from "@/data/cookies";

const dept = getCookie("department_id");

let requests;

try {
  requests = await apiRequest(`user/get-travel-requests/${dept}/2`);
}
catch {
  requests = [];
}

const { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />
      <RequestSection
        title="SOLICITUDES POR AUTORIZAR"
        requests={requests}
        anchor="autorizaciones"
        urlBase="autorizar-solicitud"
        subtitle="Esta solicitud está esperando ser autorizada."
        emptyMessage="NO HAY SOLICITUDES POR AUTORIZAR"
      />
  </main>
</div>
