---
/**
 * Authors: Gabriel Muñoz, José González
 * 
 * Description: This is the authorizer view of the dashboard.
 **/

import TextHeader from "@components/TextHeader.astro";
import RequestSection from "@components/RequestSection.astro";

let requests = [];

const deptId = 1;
const statusId = 2;
const limit = 10;

try {
  const res = await fetch(`https://localhost:3000/api/user/get-travel-requests/:dept/:status`);
  if (res.ok) {
    requests = await res.json();
  } else {
    console.error('Failed to fetch alerts:', res.statusText);
  }
} catch (err) {
  console.error('Error fetching alerts:', err);
}

const { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />
      <RequestSection
        title="SOLICITUDES POR AUTORIZAR"
        requests={requests}
        anchor="autorizaciones"
        urlBase="autorizar-solicitud"
        subtitle="Esta solicitud está esperando ser autorizada."
        emptyMessage="NO HAY SOLICITUDES POR AUTORIZAR"
      />
  </main>
</div>
