---
/**
 * Author: Hector Julian Zarate Ramirez
 * Description: This script is used to create a page that shows the history of requests made by the user.
 **/

import MainLayout from "@layouts/MainLayout.astro";
import History from "@components/History.tsx";
import TextHeader from "@components/TextHeader.astro";

import type { UserRole } from "@type/roles";
import { getCookie } from "@data/cookies";
import { roleLabels } from "@config/role-labels";

const role: UserRole = getCookie("role") as UserRole;
const userName = getCookie("username");
const buttonLabel = roleLabels[role];

//FETCH DEMO DATA
import { duplicateJson } from "@utils/duplicateJson";
import getuserrequest from '@data/get-user-request.json';
import { apiRequest } from "@/utils/apiClient";


const user_id = getCookie("id");
const requests = await apiRequest(`/applicant/get-completed-requests/${user_id}`);
console.log("Requests: ", requests);
---

<MainLayout title="Historial" data={{ userName, buttonLabel, role }}>
<div>
  <TextHeader
    title={`HISTORIAL DEL VIAJES DE ${ userName.toUpperCase() }`}
    subtitle="Aquí puedes ver el historial de solicitudes realizadas"
  />
  <div class="items-center justify-center">
    <History client:load data={requests} />
  </div>
</div>
</MainLayout>