---
/*
Author : Jose Antonio González
Main Fallback component for the application.
This component is used to display different types of fallbacks based on the type of error or loading state.

To call the difefrent fallbacks, you call it like this:
<Fallback type="TYpe of your desition" size="size is pending of fix " />
*/ 
import ErrorFallBack from "./fallbacks/ErrorFallBack.astro";
import LoadingFallBack from "./fallbacks/LoadingFallBack.astro";
import TimeoutFallBack from "./fallbacks/TimeoutFallBack.astro";


const { FALLBACK_TYPE = "" ,
  SIZE = "small",  

} = Astro.props;

const FALLBACK = {
  Loading: LoadingFallBack,
  Error: ErrorFallBack,
  Timeout: TimeoutFallBack,
};
const FALLBACK_SIZE = {
  small: "w-72 h-16",
  medium: "w-96 h-24",
  large: "w-full sm:w-full md:w-full lg:w-full xl:w-full max-w-full",
}


---
<div  >
  <FALLBACK[FALLBACK_TYPE]  />
</div>



