---
import LoadingIcon from '@assets/loading.svg';
---
<div class= "flex items-center space-x-2">
    <div role="status">
        <LoadingIcon />
    </div>
    <div class="font-bold text-lg">Loading...</div>
</div>

<div class= "flex flex-col items-center space-x-2">
    <div role="status">
        <LoadingIcon />
    </div>
    <div class="font-bold text-lg">Loading...</div>
</div>