---
/**
 * Author: Julia Maria Stephanie Duenkelsbuehler Castillo
 * 
 * Description: This component is a header for our system.
 * 
 * Example usage:
 * 	<PageHeader
 *    userName="John Doe"
 *		buttonLabel="Admin"
 *  />
 */

const { userName, buttonLabel } = Astro.props;
import Icon from "@assets/user.svg";
import MaterialIcon from "@components/MaterialIcon.astro";

const isCurrentRoute = Astro.url.pathname === "/perfil-usuario";
---

<header class="flex justify-between items-center p-4 bg-primary-300">
  <!-- Left Section -->
  <div class="flex items-center">
    <button
      class="bg-neutral-300 text-black font-bold py-2 px-8 ml-6 rounded text-base transition-colors duration-200 hover:bg-primary-50"
      onclick="alert('Toggle sidebar here!')"
    >
      LOGO
    </button>
  </div>

  <!-- Right Section -->
  <div class="flex items-center gap-4">
    <!-- User Role -->
    <div class="bg-neutral-300 text-black font-bold rounded-full py-1.5 px-4 text-sm">
      {buttonLabel}
    </div>
    <div class="flex items-center gap-2">
      <button
        class="bg-primary-300 rounded-lg p-2.5 h-10 w-10 flex justify-center items-center cursor-pointer transition-colors duration-200 hover:bg-primary-50"
        aria-label="Sensor Door"
      >
        <MaterialIcon icon="settings" />
      </button>
      <button
        class="bg-primary-300 rounded-lg p-2.5 h-10 w-10 flex justify-center items-center cursor-pointer transition-colors duration-200 hover:bg-primary-50"
        aria-label="Wind Power"
      >
        <MaterialIcon icon="dark_mode" />
      </button>
    </div>

    <!-- User Info -->
    <div class="flex items-center gap-4">
      <div class="bg-black text-white py-1.5 px-4 rounded-full font-bold text-sm">
        {userName}
      </div>
      <a href="/perfil-usuario" class={isCurrentRoute ? "pointer-events-none" : ""}>
        <button
          class="flex items-center bg-white justify-center rounded-full overflow-hidden w-11 h-11 cursor-pointer transition-all duration-200 hover:outline-2 hover:outline-primary-300 hover:shadow-primary-500"
        >
          <MaterialIcon icon="person" color="black" />
        </button>
      </a>
    </div>    
  </div>
</header>