---
/**
 * Author: Julia Maria Stephanie Duenkelsbuehler Castillo
 * 
 * Description: This component is a header for our system.
 * 
 * Example usage:
 * 	<PageHeader
 *    userName="John Doe"
 *		buttonLabel="Admin"
 *  />
 */

const { userName, buttonLabel } = Astro.props;
import LogoutButton from "@components/Logout.tsx";
import MaterialIcon from "@components/MaterialIcon.astro";

const isCurrentRoute = Astro.url.pathname === "/perfil-usuario";
---

<header class="flex justify-between items-center bg-primary-300 px-4">
  <!-- Left Section -->
  <div class="flex items-center px-18">
    <img
      src="/Logo.svg"
      class="w-20 h-20 rounded drop-shadow-lg  "
      onclick="alert('Welcome to 101-Coconsulting!')"
    />
  </div>

  <!-- Right Section -->
  <div class="flex items-center gap-4">
    <!-- User Role -->
    <div class="bg-neutral-300 text-black font-bold rounded-full py-1.5 px-4 text-sm">
      {buttonLabel}
    </div>
    <div class="flex items-center gap-2">
      <button
        class="bg-primary-300 rounded-lg p-2.5 h-10 w-10 flex justify-center items-center cursor-pointer transition-colors duration-200 hover:bg-primary-50"
      >
        <MaterialIcon icon="dark_mode" />
      </button>
      <LogoutButton client:load>
        <MaterialIcon icon="logout" />
      </LogoutButton>
    </div>

    <!-- User Info -->
    <div class="flex items-center gap-4">
      <div class="bg-black text-white py-1.5 px-4 rounded-full font-bold text-sm">
        {userName}
      </div>
      <a href="/perfil-usuario" class={isCurrentRoute ? "pointer-events-none" : ""}>
        <button
          class="flex items-center bg-white justify-center rounded-full overflow-hidden w-11 h-11 cursor-pointer transition-all duration-200 hover:outline-2 hover:outline-primary-300 hover:shadow-primary-500"
        >
          <MaterialIcon icon="person" color="black" />
        </button>
      </a>
    </div>    
  </div>
</header>