---
/**
 * Author: Eduardo Porto Morales
 * 
 */

import ModalWrapper from '@components/ModalWrapper.tsx';
import RequestDetail from '@components/RequestDetail.astro';
import AproveRequest from '@components/AproveRequestModal.tsx';

const { request } = Astro.props;
---
<main class="flex flex-col">
  <div>
    <RequestDetail
      request={request}
      title={`SOLICITUD #${request.request_id}`}
      subtitle="Detalles de la Solicitud a Atender"
    />
    <div class="flex justify-end gap-4 mt-8">
       <AproveRequest
        client:only="react"
        request_id={request.request_id}
        title="Confirmar envío"
        message="¿Está seguro de aprobar esta solicitud?"
        redirection="/dashboard"
        modal_type="success"
        variant="filled"
        >
        Aprobar
    </AproveRequest>
    </div>
  </div>
</main>
