---
/**
 * Author: Eduardo Porto Morales
 * 
 */

import ModalWrapper from '@components/ModalWrapper.tsx';
import RequestDetail from '@components/RequestDetail.astro';

const { request } = Astro.props;
---
<main class="flex flex-col">
  <div>
    <RequestDetail
      request={request}
      title={`SOLICITUD #${request.request_id}`}
      subtitle="Detalles de la Solicitud a Cotizar"
    />
    <div class="flex justify-end gap-4 mt-8">
      <ModalWrapper
        client:only="react" 
        title="Atender Solicitud"
        message="¿Está seguro de que desea marcar como atendida esta solicitud?"
        variant="filled"
        button_type="secondary"
        modal_type="confirm"
      >
        Atendida
      </ModalWrapper>
    </div>
  </div>
</main>
