---
/**
 * Author: Eduardo Porto Morales
 * 
 * Description:
 * This is a sandbox component to test everything in the application.
 **/

import Fallback from '@components/Fallback.astro';
---

<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
	<main class="flex flex-col items-center gap-20">
		<Fallback type="Error" size="large" />
	</main>
</div>