---
/**
 * Author: Eduardo Porto Morales
 * 
 * Description: This component is used to display a welcome message with the user's name.
 **/
const { userName } = Astro.props;
---

<section class="mb-6">
  <h1 class="text-4xl font-bold">BIENVENIDO, {userName.toUpperCase()}</h1>
  <p class="text-xl font-semibold text-secondary-500">DITTA CONSULTING</p>
</section>
